html,
body {
  height: 100%;
  background-color: #f5f5f5;
  font-family: 'PingFang SC', -apple-system, 'Segoe UI', 'Microsoft YaHei',
    sans-serif !important;
  overflow: auto;
}

#root {
  height: 100%;
}
